#main-header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #113e4a;
    background-color: #968012;
    text-align: center;
}

.lorem {
    font-family: Arial, Helvetica, sans-serif;
  

}